---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 5);
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="intro">
				<p>개발하며 배운 것들을 기록하는 블로그입니다.</p>
			</section>
			<section>
				<h2>최근 글</h2>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<span class="title">{post.data.title}</span>
									<span class="date"><FormattedDate date={post.data.pubDate} /></span>
								</a>
							</li>
						))
					}
				</ul>
				<a href="/blog" class="all-posts">모든 글 보기 &rarr;</a>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	.intro {
		margin-bottom: 2em;
	}
	.intro p {
		color: rgb(var(--gray));
		font-size: 1.1em;
	}
	h2 {
		font-size: 1.25em;
		margin-bottom: 1em;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	ul li {
		border-bottom: 1px solid rgb(var(--gray-light));
	}
	ul li a {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 0.75em 0;
		text-decoration: none;
		color: rgb(var(--gray-dark));
	}
	ul li a:hover .title {
		color: rgb(var(--black));
	}
	.title {
		font-weight: 600;
	}
	.date {
		color: rgb(var(--gray));
		font-size: 0.875em;
		white-space: nowrap;
		margin-left: 1em;
	}
	.all-posts {
		display: inline-block;
		margin-top: 1em;
		font-size: 0.9em;
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.all-posts:hover {
		color: rgb(var(--gray-dark));
	}
	@media (max-width: 720px) {
		ul li a {
			flex-direction: column;
			gap: 0.25em;
		}
		.date {
			margin-left: 0;
		}
	}
</style>
